<% include ../partials/head%>
<% include ../partials/header%>

<div class="container" style="margin-top: 40px;">
        <div class="jumbotron" style="background-color: wheat;">
          <h1>QUERY SHOW PAGE</h1> 
        </div> 



<!-- ===============================================================================         -->

<div class="well" id="well">
    
      <div class="thumbnail" style="background-color: #fff;border: 1.9px solid #ddd;border-radius: 5px;margin-left: -14px; margin-right: -14px;">
    
              <div class="row">
                  <div class="col-md-3" >
                      <div>
                          <li class="list-group-item"><i class="fa fa-user" aria-hidden="true"></i> Posted by <%=foundQuery.author.username %></li>
                          <li class="list-group-item"><i class="fa fa-clock-o" aria-hidden="true"></i>  <%=foundQuery.createdAt.toLocaleTimeString() %>  <%=foundQuery.createdAt.toLocaleDateString() %></li>
                      </div>
                  </div>
<!-- ========================================================================================================================================= -->



                  <div class="col-md-9" >
                          <div class="thumbnail" style="background-color: white;">
                                <h4 class="list-group-item active" id="titleholder"><p><i class="fa fa-newspaper-o" aria-hidden="true"></i> New Query : <%= foundQuery.area %> department</p> </h4>
                                         <div class="caption-full" style="margin-left : 20px; margin-right : 20px">
                                             
                                                <p style="margin : 20px;">
                                                    <%=foundQuery.problem_nature %>
                                                </p>
                                                <hr>
                                                <!-- ============================================REMOVE=========== -->
                                                <p>
                                                    <%=foundQuery.description %>
                                                </p>
                                                <!--delete form-->
                                                <!-- <form id="del-btn" action="/<%=foundQuery._id %>?_method=DELETE" method="POST">
                                                    <!-- <button class="btn btn-xs btn-danger" >Delete post <i class="fa fa-times" aria-hidden="true"></i></button> -->
                                                    <!-- <button class="btn btn-xs btn-danger" >Delete post <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                </form> --> 
                                        </div>
                          </div>
                  </div>
            </div>
    
        </div>
      </div>
</div>

<% include ../partials/footer%>
<% include ../partials/foot%>
